/*
-----------------------------
Base colours
-----------------------------
*/

$commonBlack: #000;
$commonWhite :#fff;

$header-color : #a10707;
$border-color: #cccccc;

/*
-----------------------------
Buttons
-----------------------------
*/

$button-color: $commonBlack;
$button-hover-color: #585757;