{{mobile-phone-shop products=model}}
    <div class="prod-list-container">
        <h2>OUR MOBILE PHONES</h2>
        {{#each products as |prod|}}
            {{product-item prod=prod}}
        {{/each}}
    </div>
{{outlet}}